%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %p#notice= notice
          %div.col-xs-10.text-left.vertical-align.inline
            %h2
              %i.fa.fa-microphone.fa-3x
              = "#{t('roio').titleize}"
            %p
      %div.panel-footer
        %p#notice= notice
        %div.row 
          %div.col-md-5
            = @data_result.bootleg_image.present? ? get_image_location(@data_result.concert_date, @data_result.bootleg_id, @data_result.bootleg_name, "normal", @data_result.roio_image_count, @data_result.bootleg_image) : image_tag("no_art.jpg", :size => '300')
          %div.col-md-5
            %ul.list-unstyled
              %li= "#{t('concert').titleize}: #{@data_result.concert_id}".html_safe 
              %li
                = "#{t('title').titleize}: #{@data_result.bootleg_name.to_s.gsub(/\\'/, '\'')}".html_safe
                = is_band_moderator(@data_result.band_id.to_s) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_roio_path(@data_result.bootleg_id)) : ''
                = is_band_moderator(@data_result.bootleg_id) == 'y' ? "<i class='fa fa-times' aria-hidden='true'></i>".html_safe : ''
              %li= "#{t('band').titleize}:".html_safe + link_to("#{@data_result.band_name.to_s.gsub(/\\'/, '\'')}".html_safe, band_path(@data_result.band_id))
              %li= "#{t('type').titleize}: #{turn_roio_type_into_icon(@data_result.roio_type, 'large')}".html_safe
              %li= "#{t('format').titleize}: #{@data_result.roio_format}".html_safe
              %li= "#{t('label').titleize}: #{@data_result.release_label.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('recorder').titleize}: #{@data_result.recorder.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('length').titleize}: #{@data_result.length}".html_safe
              %li= "#{t('disc').titleize.pluralize}: #{@data_result.cd}".html_safe
              %li= "#{t('taper').titleize}: #{@data_result.taper.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('lineage').titleize}: #{@data_result.lineage.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('equipment').titleize}: #{@data_result.equipment.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('generation').titleize}: #{@data_result.generation.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('taper_location').titleize}: #{@data_result.taper_location.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('source_warning').titleize}: #{@data_result.source_warning.to_s.gsub(/\\'/, '\'')}".html_safe
              %li= "#{t('added_to_the_database_by').titleize} #{@data_result.user_name} #{t('on')} #{@data_result.timeEntered}".html_safe
              %li= "#{t('last_edited').titleize}: #{@data_result.time_entered_2}".html_safe
              %li= "#{t('roio_rating').titleize}: #{turn_to_ratings_stars(@data_result.roio_avg_rating.to_s)}".html_safe
              %li= "#{t('image').titleize.pluralize(@data_result.roio_image_count)}: #{get_roio_image_count_icon(@data_result.roio_image_count)}".html_safe
              %li= "#{t('md5').titleize}: #{@data_result.md5}".html_safe
              %li
                - if cookies[:user_id].blank?
                  = "<i class='fa fa-sign-in' aria-hidden='true' alt='Sign In' title='Sign In'></i> to see who has this, and to add it to your tradlist!".html_safe
                - else
                  - @data_result.user_trade_list.each do |k, v|
                    - puts Digest::MD5.hexdigest(k.to_s).to_s.red
                    - puts cookies[:user_id].to_s.blue
                    - if Digest::MD5.hexdigest(k.to_s) == cookies[:user_id]
                      = "#{v} date added to trade list<br>".html_safe
                      %a{:href => '#'}= "Remove from trade list?"

          %div.col-md-5

        = link_to 'Back', concert_path(@data_result.concert_id)
