%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %p#notice= notice
          %div.col-xs-10.text-left.vertical-align.inline
            %h2
              %i.fa.fa-ticket{:aria_hidden => 'true'}
              =t('were_you_there').titleize
            %p
      %div.panel-footer
        %table.table.table-striped.table-bordered.table-hover.dataTables
          %thead
            %tr
              %th #{t('user').titleize}
              %th #{t('concert').titleize}
              %th #{t('comment').titleize}
              %th="#{t('sec').titleize} / #{t('row').titleize} / #{t('seat').titleize}"
              %th{:colspan =>"3"}
          %tbody
            - @user_there.order('concert_id').each do |user_there|
              %tr
                %td= user_there.user_id
                %td= user_there.concert_id
                %td= user_there.user_comment.html_safe
                %td= user_there.user_seat_section + ' / ' + user_there.user_seat_row + ' / ' + user_there.user_seat
                %td= link_to "#{t('show').titleize}", user_there
                %td= link_to "#{t('edit').titleize}", edit_user_there_path(user_there)
                %td= link_to "#{t('delete').titleize}", user_there, :method => :delete, :data => { :confirm => "#{t('are_you_sure?').titleize}" }
        %br

