%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %p#notice= notice
          %div.col-xs-10.text-left.vertical-align.inline
            %h2
              %i.fa.fa-ticket{:aria_hidden => 'true'}
              =t('were_you_there').titleize
            %p
      %div.panel-footer
        = link_to 'New User There', new_user_there_path
        %table.table.table-striped.table-bordered.table-hover.dataTables
          %thead
            %tr
              %th Id
              %th User
              %th Concert
              %th Comment
              %th Sec / Row / Seat
              %th{:colspan =>"3"}
          %tbody
            - @user_there.order('concert_id').each do |user_there|
              %tr
                %td= user_there.user_there_id
                %td= user_there.user_id
                %td= user_there.concert_id
                %td= user_there.user_comment.html_safe
                %td= user_there.user_seat_section + ' / ' + user_there.user_seat_row + ' / ' + user_there.user_seat
                %td= link_to 'Show', user_there
                %td= link_to 'Edit', edit_user_there_path(user_there)
                %td= link_to 'Destroy', user_there, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        = link_to 'New User There', new_album_path
