%div.in#page-wrapper
  %br
  %div.row
    %div.col-lg-5.col-md-8
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-4
              = image_tag('concerts-db-logo-white-trans.gif', :alt => "#{t(:the_concert_database).titleize.html_safe}", :class => 'img-responsive')
            %div.col-xs-8
              %h2
                = t(:the_concert_database).titleize.html_safe
              %p= t(:this_site_is).capitalize
              %p= t(:by_cataloging_these).capitalize
        %div.panel-footer-image
          %img.center-block.img-responsive{:id => 'main_title_image', :src => get_main_image, :alt => 'Concert Image', :title => 'Concert Image', :width => '100%'}
          %div.clearfix

    %div.row
      %div.col-lg-3.col-md-4
        %div.panel.panel-green
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left
                = t(:new_site_message).html_safe

          %a{:href => '#'}
            %div.panel-footer
              %span.pull-left= t('view_details')
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              %div.clearfix


        %div.panel.panel-red
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left
                =# "IP: #{request.remote_ip.to_s}<br>".html_safe
                =# "#{t('lat').capitalize}: #{get_lat_lon_from_ip()[0].to_s}<br>".html_safe
                =# "#{t('lon').capitalize}: #{get_lat_lon_from_ip()[1].to_s}<br>".html_safe
                =# "#{t('location').capitalize}: #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['city']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['region']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['country']}<br>".html_safe
                =# "#{t('time_zone').titleize}: #{get_time_zone_from_lat_lon(get_lat_lon_from_ip())['timezoneId']}"
          %div.panel-footer
            %span.pull-left
              = t('dont_see_a_concert')
              %br
              %br
              = "#{t('cities_with_shows').capitalize}:".html_safe
              %br
              -# get_cities_within_range(get_lat_lon_from_ip(), 50).each do |v|
                =# "#{v.city}, #{v.region}, #{v.country} - #{number_with_precision(v.geo_distance, :precision => 2)} mi (#{(v.geo_distance.to_s + 'mi').convert_to('km').to_s('%0.2f')})<br>".html_safe
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            %div.clearfix



        %div.panel.panel-yellow
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left= t('and_another')

          %div.panel-footer
            = admin_message(session[:admin])
            %br
            - if @moderator_band_names.present?
              %br= t('moderator_of_the_following')
              %ul
              - @moderator_band_names.each do |k, v|
                %li
                  %a{:href => band_path(k)}= v
            %div.clearfix
