%div.in#page-wrapper
  %br
  %div.row
    %div.col-lg-5.col-md-8
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-9
              %h4 The Concert Database
        %div.panel-footer
          %img.center-block.img-responsive{:id => 'main_title_image', :src => get_main_image, :alt => 'Concert Image', :title => 'Concert Image', :width => '580'}
          %div.clearfix

    %div.row
      %div.col-lg-3.col-md-4
        %div.panel.panel-green
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left
                This is the new version of the site, it is still very much under construction
                %ul
                  %li= link_to "Bands", bands_path, :class => "text-white"
                  %li= link_to "Concerts", concerts_path, :class => "text-white"
                  %li= link_to "Countries", countries_path, :class => "text-white"
                  %li= link_to "Roios", roios_path, :class => "text-white"
                  %li= link_to "Venues", venues_path, :class => "text-white"
          %a{:href => '#'}
            %div.panel-footer
              %span.pull-left View Details
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              %div.clearfix
        %div.panel.panel-red
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left
                = "There are xxx concerts in the database within 50 miles from #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['city']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['region']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['country']}"
                =# "IP: #{request.remote_ip.to_s}"
                = "Lat: #{get_lat_lon_from_ip()[0]}"
                = "Lng: #{get_lat_lon_from_ip()[1]}"
                =# "Location: #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['city']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['region']}, #{get_city_name_from_lat_lon(get_lat_lon_from_ip())[0]['country']}"
                =# "Time Info: #{get_time_zone_from_lat_lon(get_lat_lon_from_ip())['timezoneId']}"
          %a{:href => '#'}
            %div.panel-footer
              %span.pull-left Don't see a concert you attended? Login / Register and add it, join the Community.
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              %div.clearfix
        %div.panel.panel-yellow
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left and another
          %a{:href => '#'}
            %div.panel-footer
              - if session[:admin].present?
                - if session[:admin].to_i < 5
                  = "Admin Level #{session[:admin]}"

              - if @moderator_band_names.present?
                %br Moderator of the following bands
                %ul
                - @moderator_band_names.each do |k, v|
                  %li= "#{v}"
              %div.clearfix