the concert database  <br><br>
<table border='1'>
  <tr>
    <td>ID </td>
    <td>Concert </td>
    <td>Bands </td>
    <td>RoIo </td>
    <td>Venue </td>
  </tr>


      <tr>
        <td><%= @data_result.concert_id %></td>
        <td><%= @data_result.concert_date %></td>
        <td style='white-space: nowrap'><%= @data_result.band_name %></td>
        <td style='white-space: nowrap'><%= @data_result.bootleg_name %></td>
        <td style='white-space: nowrap'><%= @data_result.venue_name %></td>
      </tr>

</table>