the concert database  <br><br>
<table border='1'>
  <tr>
    <td>ID </td>
    <td>Concert </td>
    <td>Bands </td>
    <td>RoIo </td>
    <td>Venue </td>
  </tr>


      <tr>
        <td><%= @roios.concert_id %></td>
        <td><%= @roios.concert_date %></td>
        <td style='white-space: nowrap'><%= @roios.band_name %></td>
        <td style='white-space: nowrap'><%= @roios.bootleg_name %></td>
        <td style='white-space: nowrap'><%= @roios.venue_name %></td>
      </tr>

</table>