%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-success"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-book.fa-5x
            = "<h3>&nbsp;#{t('bibliography').titleize.pluralize}</h3>".html_safe
            %p
      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover.dataTables
            %thead
              %tr
                %td Title
                %td
                %td
            %tbody
              - @data_result.each do |k|
                %tr
                  %td= k.title.html_safe
                  %td= k.bibliography_text.present? ? k.bibliography_text.html_safe : ''
                  %td= k.amazon_ad.present? ? k.amazon_ad.html_safe : ''
        %div.clearfix
