%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => 'panel panel-success'}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-road.fa-5x
            %h3= "&nbsp;Details about #{@data_result.tour_name} &nbsp;".html_safe
            - if @is_moderator == 'y'
              %a.admin_edit{:href => edit_tour_path(@data_result.tours_id)}
                %i.fa.fa-pencil-square-o{:aria_hidden => 'true'}

      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover.dataTables
            %thead
              %tr
                %td Concert Date
                %td Venue
                %td Roio Name
            %tbody
              - @data_result.concerts.each do |f|
                %tr
                  %td.text-nowrap
                    %ul
                      %li.roio-details.list-group-item.text-nowrap
                        = f.no_known_recording == "y" ? f.no_known_recording_icon.html_safe : ''
                        = "#{link_to f.concert_date, "/#{I18n.locale}/concerts/#{f.concert_id}"}".html_safe
                  %td
                    %ul
                      %li.roio-details.list-group-item= f.concert_venues[0].the_venue_address rescue ''
                  %td
                    %ul
                      = "#{f.bootleg_name.gsub(/\\'/, '\'')}".html_safe rescue ''    
              
        %div.clearfix

  %div.col-md-3
    %div{:class => 'panel panel-success'}
      %div.panel-heading
        %div.row
          %div.text-left.vertical-align.inline
            %h3
              %span.glyphicon.glyphicon-cd{:aria_hidden => 'true'}
              Related Official Releases
      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %tbody
              = @data_result.official_releases_info.html_safe
        %div.clearfix
