%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => 'panel panel-green'}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-ticket.fa-5x
            = "<h3>&nbsp;This Venue is located in #{@data_result.city_name}, #{@data_result.state_name}, #{@data_result.country_name}</h3>".html_safe
            %p
        %div.row
          %div.col-xs-10.text-left.vertical-align
            %h6 Names with a start date of 9999-12-31 means these are 'un-official' names or common misspellings of the venue name.
        %div.row
          %div.col-xs-10.text-left.vertical-align
      %div.panel-footer
        %span.pull-left
          %table.table.table-striped.table-bordered.table-hover
            %thead
            %tr
              %th Names Associated with the Venue
              %th Venue Opened
              %th Venue Closed
              %th Notes
              %th Capacity
              %th Address
              %th Wiki
              %th URL
            = "#{@data_result.venues_name}\n".html_safe
          %br
          %br
          %table.table.table-striped.table-bordered.table-hover.dataTables
            %thead
              %tr
                %td Concert Date
                %td Venue
                %td Roio Name
            %tbody
              - @data_result.concerts.each do |f|
                %tr
                  %td.text-nowrap
                    %ul
                      %li.roio-details.list-group-item.text-nowrap
                        = f.no_known_recording == "y" ? f.no_known_recording_icon.html_safe : ''
                        = "#{link_to f.concert_date, "/#{I18n.locale}/concerts/#{f.concert_id}"}".html_safe
                  %td
                    %ul
                      %li.roio-details.list-group-item= f.concert_venues[0].the_venue_address rescue ''
                  %td
                    %ul
                      = "#{f.bootleg_name.gsub(/\\'/, '\'')}".html_safe rescue ''
        %div.clearfix