= form_for(@concert) do |f|
  - if @concert.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@concert.errors.count, "error")} prohibited this album from being saved:"

      %ul
      - @concert.errors.full_messages.each do |message|
        %li= message
  %div.panel.cold-md-12
    %div.row
      Concert Info
    %div.row
      %div.col-md-2
        %strong= t('concert_date').titleize.html_safe
      %div.col-md-4= f.text_field :concert_date
      %div.col-md-6


    %div.row
      %div.col-md-2
        %strong= t('venue').titleize.html_safe
      %div.col-md-4
        = f.text_field :venue_name, :id => 'venue', :class => 'suggest'
        = f.hidden_field :venue_id, :id => 'venue_id'
        %input#venue_names_id{:type => 'hidden', :name => 'concert[venue_names_id]', :value => ''}

      %div.col-md-2
        %strong= t('city').titleize.html_safe
      %div.col-md-4
        = f.text_field :city_name, :id => 'city_name', :class => 'suggest'
        = f.hidden_field :city_id, :id => 'city_id'

    %div.row
      %div.col-md-2
        %strong= t('state').titleize.html_safe
      %div.col-md-4
        = f.text_field :state_name, :id => 'state_name', :class => 'suggest'
        = f.hidden_field :state_id, :id => 'state_id'

      %div.col-md-2
        %strong= t('country').titleize.html_safe
      %div.col-md-4
        = f.text_field :country_name, :id => 'country', :class => 'suggest'
        = f.hidden_field :flags_id, :id => 'flags_id'


    %div.row
      %div.col-md-2
        %strong= t('time_of_show').titleize.html_safe
      %div.col-md-4= f.text_field :time_of_show
    %div.row
      %div.col-md-2
        %strong= t('no_known_recording').titleize.html_safe
      %div.col-md-4= f.text_field :no_known_recording
    %div.row
      %div.col-md-2
        %strong= t('note').titleize.html_safe
      %div.col-md-4= f.text_area :notes

  %div.panel.cold-md-6
    %div.row
      Band Info
    %div.row
      %div.col-md-2
        %strong= t('band_name').titleize.html_safe
      %div.col-md-4
        - @concert.band_name_plain.each do |k,v|
          - @bbb = v
        = f.text_field :band_name_plain, :id => 'band', :class => 'suggest', :value => "#{@bbb.to_s}"
        = f.hidden_field :band_id, :id => 'band_id'

    %div.row
      %div.col-md-2
        %strong= t('tour_name').titleize.html_safe
      %div.col-md-4
        - @concert.tour_name_plain.each do |k,v|
          - @ttt = v
        = f.text_field :tour_name_plain, :id => 'tours', :class => 'suggest', :value => "#{@ttt.to_s}"
        = f.hidden_field :tours_id, :id => 'tours_id'


  %div.panel.cold-md-6
    %div.row.actions
      %div.col-md-6= f.submit
