the concert database  <br><br>
<table class="table table-striped table-bordered">
  <tr>
    <td>ID </td>
    <td>Concert </td>
    <td>Bands </td>
    <td>RoIo </td>
    <td>Venue </td>
  </tr>

  <% @data_result.each do |data_result| %>
      <tr>
        <td><%= data_result.concert_id %></td>
        <td><a href='/concerts/<%= data_result.concert_id %>'><%= data_result.concert_date %></a></td>
        <td style='white-space: nowrap'><%= data_result.band_name %></td>
        <td style='white-space: nowrap'><%= data_result.bootleg_name %></td>
        <td style='white-space: nowrap'><%= data_result.venue_name %></td>
      </tr>
  <% end %>
</table>