%div.row
  %div.col-md-5
    = get_image_location(@data_result.concert_date, @data_result.bootleg_id, @data_result.bootleg_name, "normal")
    %ul.list-unstyled
      %li= "Band: #{@data_result.band_name.to_s.gsub(/\\'/, '\'')}"
      %li= "Title: #{@data_result.bootleg_name.to_s.gsub(/\\'/, '\'')}"
      %li= "Type: #{turn_roio_type_into_icon(@data_result.roio_type, 'large')}".html_safe
      %li= "Format: #{@data_result.roio_format}"
      %li= "Label: #{@data_result.release_label.to_s.gsub(/\\'/, '\'')}"
      %li= "Recorder: #{@data_result.recorder.to_s.gsub(/\\'/, '\'')}"
      %li= "Length: #{@data_result.length}"
      %li= "Discs: #{@data_result.cd}"
      %li= "Taper: #{@data_result.taper.to_s.gsub(/\\'/, '\'')}"
      %li= "Lineage: #{@data_result.lineage.to_s.gsub(/\\'/, '\'')}"
      %li= "Equipment: #{@data_result.equipment.to_s.gsub(/\\'/, '\'')}"
      %li= "Generation: #{@data_result.generation.to_s.gsub(/\\'/, '\'')}"
      %li= "Taper Location: #{@data_result.taper_location.to_s.gsub(/\\'/, '\'')}"
      %li= "Source Warning: #{@data_result.source_warning.to_s.gsub(/\\'/, '\'')}"
      %li= "Added to the database by #{@data_result.user_name} on #{@data_result.timeEntered}"
      %li= "Last Edited: #{@data_result.time_entered_2}"
      %li= "Roio Rating: #{turn_to_ratings_stars(@data_result.roio_avg_rating.to_s)}".html_safe
      %li= "Images: #{get_roio_image_count_icon(@data_result.roio_image_count)}".html_safe
      %li= "MD5: #{@data_result.md5}"

  %div.col-md-5
    Tracklist

    - @data_result.roio_set_list.each do |k, v|
      %li
        = v.html_safe
        - if @is_moderator == 'y'
          %a.admin_edit{:href => "/tour/#{k}/edit"}
            %i.fa.fa-pencil-square-o{:aria_hidden => 'true'}