%div{:id => "page-wrapper"}
  %br
  %div.row
    %div.col-lg-3.col-md-6
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-calendar.fa-5x
            %div.col-xs-9.text-right
              %h4= t('concert')
              %div
                = "#{@data_result.concert_date} #{turn_to_ratings_stars(@data_result.concert_avg_rating)}".html_safe

        %div.panel-footer
          %a.view_details#concert{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.concert_details Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel imperdiet felis. Praesent congue at odio at feugiat. Vivamus a risus porta, congue velit vel, cursus metus. Ut id elementum eros. Maecenas consectetur est eu lacus cursus gravida. Integer commodo nisi massa, ut convallis lacus ultricies sit amet. Sed tincidunt et risus quis fermentum. Praesent sed nibh viverra, tristique quam non, posuere sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fringilla ante sapien, quis tempus sem tempus eu. In eget felis enim. Vestibulum imperdiet pellentesque mauris elementum volutpat. Mauris suscipit efficitur metus id fermentum. Aenean placerat quam lacus, id varius enim fringilla quis.
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-green
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-ticket.fa-5x
            %div.col-xs-9.text-right
              %h4= t('venue')
              %div
                = link_to @data_result.venue_name.html_safe, venue_path(@data_result.venue_id), :class => 'reverse'

        %div.panel-footer
          %a.view_details#venue{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.venue_details= @data_result.venue_address.html_safe
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-yellow
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-microphone.fa-5x
            %div.col-xs-9.text-right
              %h4= t('band').pluralize(@data_result.band_name_plain.count)
              %div
                %ul.list-unstyled
                  - @data_result.band_name_plain.each do |k, v|
                    %li
                      =link_to v, band_path(k), :class => 'reverse'
        %div.panel-footer
          %a.view_details#band{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %div.band_details
            %ul.list-unstyled
              - @data_result.band_name_plain.each do |k, v|
                %li
                  = t('band').titleize
                  %br
                  = link_to "#{v}", band_path(k)
                  %ul
                    %li
                      = "#{t('tour').titleize}".html_safe
                      %br
                      - @data_result.tour_name_plain.each do |a, b|
                        = link_to b, tour_path(a.to_s)
                    %li
                      = "#{t('member').titleize}".html_safe
                      %ul
                        - @data_result.band_member_names.each do |a, b|
                          %li= link_to b, member_path(a.to_s)
          %div.clearfix


    %div.col-lg-3.col-md-6
      %div.panel.panel-red
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-group.fa-5x
            %div.col-xs-9.text-right
              %h4= t('were_you_there')
              %div
                %a{:href => "#"}

        %div.panel-footer
          %a.view_details#there{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.there_details Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel imperdiet felis. Praesent congue at odio at feugiat. Vivamus a risus porta, congue velit vel, cursus metus. Ut id elementum eros. Maecenas consectetur est eu lacus cursus gravida. Integer commodo nisi massa, ut convallis lacus ultricies sit amet. Sed tincidunt et risus quis fermentum. Praesent sed nibh viverra, tristique quam non, posuere sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fringilla ante sapien, quis tempus sem tempus eu. In eget felis enim. Vestibulum imperdiet pellentesque mauris elementum volutpat. Mauris suscipit efficitur metus id fermentum. Aenean placerat quam lacus, id varius enim fringilla quis.
          %div.clearfix


  <!-- /.row -->
  %div.row
    %div.col-lg-4
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-tasks.fa-fw
          = t('list_of_roios').pluralize.titleize
          <!-- /.panel-heading -->
        = @data_result.bootleg_name
        <!-- /.panel-body -->
    <!-- /.col-lg-4 -->
    %div.col-lg-8
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-search.fa-fw
          = t('roio_detail').pluralize.titleize
        <!-- /.panel-heading -->
        %div.panel-body
          %div{:id => "roio-details-container"}
        <!-- /.panel-body -->
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-comments-o.fa-fw
          = t('comment').pluralize.titleize
        <!-- /.panel-heading -->
        %div.panel-body
          %ul.timeline
            = @data_result.get_ui_comments.html_safe
        <!-- /.panel-body -->
      <!-- /.panel -->
    <!-- /.col-lg-8 -->
  <!-- /.row -->
<!-- /#page-wrapper -->