%div{:id => "page-wrapper"}
  %br
  - if @note.present?
    %div.alert.alert-danger.text-center{:role => 'alert'}= @note.html_safe

  %div.row
    %div.col-lg-3.col-md-6
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-calendar.fa-5x
            %div.col-xs-9.text-right
              %h4= t('concert').titleize
              %div
                = @data_result.no_known_recording == "y" ? @data_result.no_known_recording_icon.html_safe : ''
                = "#{@data_result.concert_date} #{turn_to_ratings_stars(@data_result.concert_avg_rating)}".html_safe

        %div.panel-footer
          %a.view_details#concert{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.concert_details
            = "<b>#{t('concert').titleize}</b>".html_safe
            = link_to("<i class='fa fa-arrow-circle-left' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/concerts/#{@data_result.prev_concert}") 
            = "#{@data_result.concert_date}".html_safe
            = "#{is_band_moderator(@data_result.band_id.to_s) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_concert_path(@data_result.concert_id), :class => "admin_edit") : ''}".html_safe
            = "#{is_band_moderator(@data_result.concert_id) == 'y' ? link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, concert_path(@data_result.concert_id), :class => "admin_edit") : ''}".html_safe
            = link_to("<i class='fa fa-arrow-circle-right' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/concerts/#{@data_result.next_concert}") 
            %br
            = "<b>#{t('time_of_show').titleize}</b> #{@data_result.time_of_show}".html_safe
            %br
            = "<b>#{t('note').titleize.pluralize}</b> #{@data_result.notes}<br>".html_safe
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-green
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-ticket.fa-5x
            %div.col-xs-9.text-right
              %h4= t('venue').titleize
              %div
                = link_to @data_result.venue_name.html_safe, venue_path(@data_result.venue_id), :class => 'reverse'

        %div.panel-footer
          %a.view_details#venue{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.venue_details= @data_result.venue_address.html_safe
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-yellow
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-microphone.fa-5x
            %div.col-xs-9.text-right
              %h4= t('band').titleize.pluralize(@data_result.band_name_plain.count)
              %div
                %ul.list-unstyled
                  - @data_result.band_name_plain.each do |k, v|
                    %li
                      =link_to v, band_path(k), :class => 'reverse'
        %div.panel-footer
          %a.view_details#band{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %div.band_details
            %ul.list-unstyled
              - count_tour = 0
              - @data_result.band_name_plain.each do |k, v|

                %li
                  = "<b>#{t('band').titleize}</b>".html_safe
                  = is_logged_in == true ? is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_band_path(k), :class => "admin_edit") : '' : ''
                  %br
                  = link_to "#{v}", band_path(k)
                  = is_logged_in == true ? is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_band_path(k), :class => "admin_edit") : '' : ''
                  = is_logged_in == true ? is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, band_path(k.to_s), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "admin_edit") : '' : ''
                  %ul.list-unstyled
                    %li
                      = "<b>#{t('tour').titleize}</b>".html_safe
                      %br
                      %ul.list-unstyled
                        %li
                          - puts @data_result.prev_tour.to_s.magenta
                          = @data_result.prev_tour.present? ? link_to("<i class='fa fa-arrow-circle-left' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/tours/#{@data_result.prev_tour}") : ''
                          = link_to @data_result.tours[count_tour].tour_name.to_s, tour_path(@data_result.tours[count_tour].tours_id.to_s)
                          = is_logged_in == true ? is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_tour_path(@data_result.tours[count_tour].tours_id.to_s), :class => "admin_edit") : '' : ''
                          = @data_result.next_tour.present? ? link_to("<i class='fa fa-arrow-circle-right' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/tours/#{@data_result.next_tour}") : ''
                    %li
                      = "<b>#{t('member').titleize}</b>".html_safe
                      %br
                      %ul.list-unstyled
                        - @data_result.band_member_names(k).each do |g, h|
                          %li
                            = link_to h.to_s, member_path(g.to_s)
                            = is_logged_in == true ? is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_member_path(:id => g, :band_id => k), :class => "admin_edit") : '' : ''
                            = is_logged_in == true ? is_band_moderator(k) == 'y' ? "<i class='fa fa-times admin_edit' aria-hidden='true'></i>".html_safe : '' : ''



                      - count_tour = count_tour.to_i + 1
          %div.clearfix


    %div.col-lg-3.col-md-6
      %div.panel.panel-red
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-group.fa-5x
            %div.col-xs-9.text-right
              %h4= t('were_you_there').titleize
              %div
                %ul.list-unstyled
                  %li Share your photos and experiences

        %div.panel-footer
          %a.view_details#there{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.there_details
            - @is_there = Array.new
            - @data_result.were_you_there.each do |v|
              - @there_user_id = v.user.user_id
              - @user_there_id = v.user_there_id
              = "<b>#{v.user.user_name}</b>".html_safe
              = "#{v.user_comment}"
              %br
              = "#{t('sec').titleize} #{v.user_seat_section} #{t('row').titleize} #{v.user_seat_row} #{t('seat').titleize} #{v.user_seat}"
              = cookies['user_id'].present? ? @there_user_id.present? ? cookies['user_id'] == @there_user_id ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_user_there_path(:id => @user_there_id), :class => "admin_edit") + link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, user_there_path(:id => @user_there_id), :class => "admin_edit", :method => :delete) : '' : '' : ''
              %br
              - cookies['user_id'].to_s == Digest::MD5.hexdigest(@there_user_id.to_s) ? @is_there.push(false) : @is_there.push(true)
            
              - "<i class='fa fa-ticket' aria-hidden='true'></i>".html_safe
              - puts '---=>   <=---'
              - puts cookies['user_id'].to_s.blue
              - puts Digest::MD5.hexdigest(@there_user_id.to_s).red
            - if cookies['user_id'].present? 
              - if @is_there.include?(false) 
                = ''
              - else 
                = link_to "<i class='fa fa-ticket' arai-hidden='true'></i> #{t('were_you_here').titleize}".html_safe, new_user_there_path(:concert_id => @data_result.concert_id)
              %br= link_to "<i class='fa fa-camera' arai-hidden='true'></i> #{t('upload_images').titleize}".html_safe, new_user_image_path(:concert_id => @data_result.concert_id)

            - else
              = link_to "<i class='fa fa-ticket' arai-hidden='true'></i> #{t('were_you_here').titleize}".html_safe, new_user_there_path(:concert_id => @data_result.concert_id)
            %br
          %div.clearfix


  <!-- /.row -->
  %div.row
    %div.col-lg-4
      %div.panel.panel-default
        %div.panel-heading
          %span.pull-left
            %i.fa.fa-tasks.fa-fw
            = t('list_of_roios').pluralize.titleize.html_safe
          %span.pull-right
            = link_to("#{t('add_roio').titleize.html_safe} <i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_roio_path + "?concert_id=#{@data_result.concert_id}&band_id=#{@data_result.concert_bands[0]['band_id']}")
          %div.clearfix
          <!-- /.panel-heading -->
        = @data_result.bootleg_name
        <!-- /.panel-body -->
    <!-- /.col-lg-4 -->
    %div.col-lg-8
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-search.fa-fw
          = t('roio_detail').pluralize.titleize
          %span.pull-right#roio-add-comment
          %div.clearfix
        <!-- /.panel-heading -->
        %div.panel-body
          %div{:id => "roio-details-container"}
        <!-- /.panel-body -->
      %div.panel.panel-default
        %div.panel-heading
          %span.pull-left
            %i.fa.fa-comments-o.fa-fw
            = t('comment').pluralize.titleize
          %div.clearfix
        <!-- /.panel-heading -->
        %div.panel-body
          %ul.timeline
            - puts session[:user_name].to_s.yellow
            = @data_result.get_ui_comments(session[:user_name]).html_safe
        <!-- /.panel-body -->
      <!-- /.panel -->
    <!-- /.col-lg-8 -->
  <!-- /.row -->
<!-- /#page-wrapper -->
