%div{:id => "page-wrapper"}
  %br
  - if @note.present?
    %div.alert.alert-danger.text-center{:role => 'alert'}= @note.html_safe

  %div.row
    %div.col-lg-3.col-md-6
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-calendar.fa-5x
            %div.col-xs-9.text-right
              %h4= t('concert').titleize
              %div
                = "#{@data_result.concert_date} #{turn_to_ratings_stars(@data_result.concert_avg_rating)}".html_safe

        %div.panel-footer
          %a.view_details#concert{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.concert_details
            = "<b>#{t('concert').titleize}</b>:".html_safe
            = link_to("<i class='fa fa-arrow-circle-left' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/concerts/#{@data_result.prev_concert}") 
            = "#{@data_result.concert_date}".html_safe
            = "#{is_band_moderator(@data_result.band_id.to_s) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_concert_path(@data_result.concert_id), :class => "admin_edit") : ''}".html_safe
            = "#{is_band_moderator(@data_result.concert_id) == 'y' ? link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, concert_path(@data_result.concert_id), :class => "admin_edit") : ''}".html_safe
            = link_to("<i class='fa fa-arrow-circle-right' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/concerts/#{@data_result.next_concert}") 
            %br
            = "<b>#{t('time_of_show').titleize}</b>: #{@data_result.time_of_show}".html_safe
            %br
            = "<b>#{t('note').titleize.pluralize}</b>: #{@data_result.notes}<br>".html_safe
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-green
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-ticket.fa-5x
            %div.col-xs-9.text-right
              %h4= t('venue').titleize
              %div
                = link_to @data_result.venue_name.html_safe, venue_path(@data_result.venue_id), :class => 'reverse'

        %div.panel-footer
          %a.view_details#venue{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.venue_details= @data_result.venue_address.html_safe
          %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-yellow
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-microphone.fa-5x
            %div.col-xs-9.text-right
              %h4= t('band').titleize.pluralize(@data_result.band_name_plain.count)
              %div
                %ul.list-unstyled
                  - @data_result.band_name_plain.each do |k, v|
                    %li
                      =link_to v, band_path(k), :class => 'reverse'
        %div.panel-footer
          %a.view_details#band{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %div.band_details
            %ul.list-unstyled
              - count_tour = 0
              - @data_result.band_name_plain.each do |k, v|

                %li
                  = t('band').titleize
                  = is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_band_path(k), :class => "admin_edit") : ''
                  %br
                  = link_to "#{v}", band_path(k)
                  = is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_band_path(k), :class => "admin_edit") : ''
                  = is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-times' aria-hidden='true'></i>".html_safe, band_path(k.to_s), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "admin_edit") : ''
                  %ul
                    %li
                      = "#{t('tour').titleize}".html_safe
                      %br
                      %ul
                        %li
                          - puts @data_result.prev_tour.magenta
                          = link_to("<i class='fa fa-arrow-circle-left' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/tours/#{@data_result.prev_tour}") 
                          = link_to @data_result.tour_name_plain.values[count_tour].to_s, tour_path(@data_result.tour_name_plain.keys[count_tour].to_s)
                          = is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_tour_path(@data_result.tour_name_plain.keys[count_tour].to_s), :class => "admin_edit") : ''
                          = link_to("<i class='fa fa-arrow-circle-right' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/tours/#{@data_result.next_tour}") 
                    %li
                      = "#{t('member').titleize}".html_safe
                      %br
                      %ul
                        - @data_result.band_member_names(k).each do |g, h|
                          %li
                            = link_to h.to_s, member_path(g.to_s)
                            = is_band_moderator(k) == 'y' ? link_to("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_member_path(:id => g, :band_id => k), :class => "admin_edit") : ''
                            = is_band_moderator(k) == 'y' ? "<i class='fa fa-times admin_edit' aria-hidden='true'></i>".html_safe : ''



                      - count_tour = count_tour.to_i + 1
          %div.clearfix


    %div.col-lg-3.col-md-6
      %div.panel.panel-red
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-group.fa-5x
            %div.col-xs-9.text-right
              %h4= t('were_you_there').titleize
              %div
                %a{:href => "#"}

        %div.panel-footer
          %a.view_details#there{:href => "#"}
            %span.pull-left= t('view_detail').pluralize.titleize
            %span.pull-right
              %i.fa.fa-arrow-circle-right
          %div.clearfix
          %p
          %p.there_details Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel imperdiet felis.
          %div.clearfix


  <!-- /.row -->
  %div.row
    %div.col-lg-4
      %div.panel.panel-default
        %div.panel-heading
          %span.pull-left
            %i.fa.fa-tasks.fa-fw
            = t('list_of_roios').pluralize.titleize.html_safe
          %span.pull-right
            = link_to("#{t('add_roio').titleize.html_safe} <i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_roio_path + "?concert_id=#{@data_result.concert_id}&band_id=#{@data_result.band_id}")
          %div.clearfix
          <!-- /.panel-heading -->
        = @data_result.bootleg_name
        <!-- /.panel-body -->
    <!-- /.col-lg-4 -->
    %div.col-lg-8
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-search.fa-fw
          = t('roio_detail').pluralize.titleize
          %span.pull-right#roio-add-comment
          %div.clearfix
        <!-- /.panel-heading -->
        %div.panel-body
          %div{:id => "roio-details-container"}
        <!-- /.panel-body -->
      %div.panel.panel-default
        %div.panel-heading
          %span.pull-left
            %i.fa.fa-comments-o.fa-fw
            = t('comment').pluralize.titleize
          %div.clearfix
        <!-- /.panel-heading -->
        %div.panel-body
          %ul.timeline
            = @data_result.get_ui_comments(cookies[:user_name]).html_safe
        <!-- /.panel-body -->
      <!-- /.panel -->
    <!-- /.col-lg-8 -->
  <!-- /.row -->
<!-- /#page-wrapper -->
