%div{:id => "page-wrapper"}
  %div.row
    %div.col-lg-12
      %h3 Concert Details
    <!-- /.col-lg-12 -->
  <!-- /.row -->
  %div.row
    %div.col-lg-3.col-md-6
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-calendar.fa-5x
            %div.col-xs-9.text-right
              %h4 Concert
              %div
                = link_to(@data_result.concert_date, "/concerts/#{@data_result.concert_id}", :class => 'text-white')
        %a{:href => "#"}
          %div.panel-footer
            %span.pull-left.text-primary View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right.text-primary
            %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-green
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-ticket.fa-5x
            %div.col-xs-9.text-right
              %h4 Venue
              %div= @data_result.venue_name
        %a{:href => "/venues/#{@data_result.venue_id}"}
          %div.panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            %div.clearfix

    %div.col-lg-3.col-md-6
      %div.panel.panel-yellow
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-microphone.fa-5x
            %div.col-xs-9.text-right
              %h4 Band
              %div= @data_result.band_name_plain
        %a{:href => "/bands/#{@data_result.band_id}"}
          %div.panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            %div.clearfix


    %div.col-lg-3.col-md-6
      %div.panel.panel-red
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-group.fa-5x
            %div.col-xs-9.text-right
              %h4 Were You There?
              %div
        %a{:href => "#"}
          %div.panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            %div.clearfix


  <!-- /.row -->
  %div.row
    %div.col-lg-4
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-tasks.fa-fw
          List of Roios
          <!-- /.panel-heading -->
        = @data_result.bootleg_name
        <!-- /.panel-body -->
    <!-- /.col-lg-4 -->
    %div.col-lg-8
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-search.fa-fw
          Roio Details
        <!-- /.panel-heading -->
        %div.panel-body
          %div{:id => "roio-details-container"}
        <!-- /.panel-body -->
      %div.panel.panel-default
        %div.panel-heading
          %i.fa.fa-comments-o.fa-fw
          Comments
        <!-- /.panel-heading -->
        %div.panel-body
          %ul.timeline
            = sanitize @data_result.get_ui_comments
        <!-- /.panel-body -->
      <!-- /.panel -->
    <!-- /.col-lg-8 -->
  <!-- /.row -->
<!-- /#page-wrapper -->