<p id="notice"><%= notice %></p>

<p>
  <strong>Album name:</strong>
  <%= @album.album_name %>
</p>

<p>
  <strong>Album review:</strong>
  <%= @album.album_review %>
</p>

<p>
  <strong>Album amazon ad:</strong>
  <%= @album.album_amazon_ad.html_safe %>
</p>

<p>
  <strong>Release Year:</strong>
  <%= @album.release_year %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
