%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %p#notice= notice
          %div.col-xs-10.text-left.vertical-align.inline
            %h2
              %span.glyphicon.glyphicon-cd{:aria_hidden => "true"}
              Albums
            %p
      %div.panel-footer

        %p#notice= notice

        %p
          %strong Album name:
          = @album.album_name

        %p
          %strong Album review:
          = @album.album_review

        %p
          %strong Album amazon ad:
          = @album.album_amazon_ad.present? ? @album.album_amazon_ad.html_safe : ""

        %p
          %strong Release Year:
          = @album.release_year

        = link_to 'Edit', edit_album_path(@album)
        |
        = link_to 'Back', albums_path
        |
        = link_to 'New Album', new_album_path
