%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left
            %h3.vertical-align
              %i.fa.fa-microphone.fa-5x
              &nbsp;Details about #{@data_result.band_name} band
      %div.panel-footer
        %span.pull-left
          %table.table.table-striped.table-bordered
            %tr
              %td
                Tour Information
                %ul.list-unstyled #{@data_result.tour_name}
                %br

                %br Years Active
                %ul.list-unstyled
                  %li= @data_result.band_concert_dates.html_safe


                %br People that played with #{@data_result.band_name}

                %br Associated bands that members of #{@data_result.band_name} have played with

        %div.clearfix


