%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            %h3= "&nbsp;Details about #{@data_result.band_name} &nbsp;".html_safe
            - if (@is_moderator == 'y')
              = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_band_path(@data_result.band_id), :class => "admin_edit reverse"
      %div.panel-footer
        %span.pull-left
          %table.table.table-striped.table-bordered
            %tr
              %td
                Tour Information
                %ul.list-unstyled
                  - @data_result.tour_name.each do |k, v|
                    %li
                      = link_to v.html_safe, tour_path(k)
                      - if @is_moderator == 'y'
                        = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_tour_path(k), :class => "admin_edit"

                %br

                %br Years Active
                = @data_result.band_years_active.html_safe

                %br
                %br People that played with #{@data_result.band_name}
                = @data_result.band_members_over_the_years.html_safe
                %br
                %br Associated bands that members of #{@data_result.band_name} have played with

        %div.clearfix


