%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            %h3= "&nbsp;Details about #{@data_result.band_name} &nbsp;".html_safe
            - if @is_moderator == 'y'
              = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_band_path(@data_result.band_id), :class => "admin_edit reverse"
      %div.panel-footer
        %span.pull-left
          %table.table.table-striped.table-bordered
            %tr
              %td
                Tour Information
                %ul.list-unstyled
                  - @data_result.tour_name.each do |k, v|
                    %li
                      = link_to v.html_safe, tour_path(k)
                      - if @is_moderator == 'y'
                        = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_tour_path(k), :class => "admin_edit"

                %br

                %br Years Active
                = @data_result.band_years_active(@data_result.band_id).html_safe

                %br
                %br People that played with #{@data_result.band_name}
                - tag_counting = 0
                - @data_result.band_members_over_the_years.each do |k , v|
                  - if tag_counting >= 1
                    - if @is_moderator == 'y'

                      = " <i class='fa fa-retweet' id='#{k}' aria-hidden='true' data-toggle='popover' data-placement='top' data-content='Current Member ID: #{k}<br>Merged Member ID: <input type=\"text\" name=\"merged_id\" id=\"merged_id\"><button type=\"submit\" onclick=\"merge_members(#{k})\" id=\"#{k}}\">submit</button>' data-original-title='Merge Band Members <br><span class=\"text-muted\">This operation cannot be undone</span><span id=\"error_message\"></span>'></i><span class='change_member_#{k}'></span> ".html_safe



                    - else
                      = ' <strong>&middot;</strong> '.html_safe
                  = v.html_safe
                  - tag_counting +=1

                %br
                %br Associated bands that members of #{@data_result.band_name} have played with


                %br
                Albums
                - if @is_moderator == 'y'
                  = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, "/#{I18n.locale}/albums/albums_to/#{@data_result.band_id}", :class => "admin_edit"
                %ul.list-unstyled
                  - BandAlbum.joins('join albums on band_albums.album_id = albums.id').where('band_id = ?', @data_result.band_id).order('albums.release_year').each do |v|
                    %li
                      = v.album.album_amazon_ad.html_safe
                      = link_to "#{v.album.album_name} - #{v.album.release_year}", album_path(v.album.id)
        %div.clearfix


