%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            %h3= "&nbsp;Details about #{@data_result.band_name} &nbsp;".html_safe
      %div.panel-footer
        %span.pull-left
          %table.table.table-striped.table-bordered
            %tr
              %td
                Tour Information
                %ul.list-unstyled
                  - @data_result.tour_name.each do |k, v|
                    %li
                      = v.html_safe
                      - if @is_moderator == 'y'
                        %a{:href => "/tours/edit/#{k}"}
                          %i.fa.fa-pencil-square-o{:aria_hidden => 'true'}
                %br

                %br Years Active
                = @data_result.band_years_active.html_safe

                %br
                %br People that played with #{@data_result.band_name}
                = @data_result.band_members_over_the_years.present? ? @data_result.band_members_over_the_years.html_safe : ''

                %br Associated bands that members of #{@data_result.band_name} have played with

        %div.clearfix


