<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t(:the_concert_database).titleize.html_safe, "/#{I18n.locale}/index", :class => "navbar-brand" %>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
   <% if cookies[:user_id].present?  %>
        <li><a href="/<%= I18n.locale %>/concerts/new"><i class="fa fa-ticket reverse" aria-hidden="true"></i></a></li>
    <% end %> 
   <% if @is_moderator == 'y' %>
        <li><i class="fa fa-pencil-square-o reverse" id="admin_edit_control" aria-hidden="true" title="Add Concert"></i></li>
    <% end %>
    <% if cookies[:user_id].blank?  %>
        <li class="dropdown">
          <a class="dropdown-toggle reverse" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><%= link_to "<i class='fa fa-sign-in fa-fw'></i> #{t(:login_sign_up).titleize}".html_safe, logins_path %></li>
          </ul>
          <!-- /.dropdown-user -->
        </li>

    <% else %>
        <li class="dropdown">
          <a class="reverse dropdown-toggle" data-toggle="dropdown" href="#">
            <span class='reverse'>
              <% if session[:avatar_24].present? %>
                <%= "<img src='http://www.concerts-db.com#{get_user_avatar(session[:user_name], session[:users_id], session[:avatar_24], session[:avatar_96], 'small')}'>".html_safe %> <%= cookies[:user_name] %> <i class="fa fa-caret-down"></i></span>
              <% else %>
                <i class="fa fa-user fa-fw"></i> <%= cookies[:user_name] %> <i class="fa fa-caret-down"></i></span>
              <% end %>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><%= link_to "<i class='fa fa-user fa-fw'></i> #{t(:user_profile).titleize}".html_safe, user_path(cookies[:user_id]) %></li>
            <li class="dropdown-submenu"><a href="#"><i class="fa fa-gear fa-fw"></i> <%= t(:setting).pluralize.titleize.html_safe %></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#"><%= t(:change_password).titleize.html_safe %></a></li>
                <li><a href="#"><%= t(:change_avatar).titleize.html_safe %></a></li>
                <li><a href="#"><%= t(:select_band).pluralize.titleize.html_safe %></a></li>
                <li class="dropdown-submenu">
                  <a href="#"><%= t(:language).pluralize.titleize.html_safe %></a>
                  <ul class="dropdown-menu">
                    <% Language.all.order('language_name').each do |k| %>
                        <li><a href="/<%= k.language_i18n.to_s %>/users/change_language/<%= cookies[:user_id] %>?data_result[language_id]=<%= k.language_id %>"><%= t(k.language_name) %></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/<%= I18n.locale %>/logins/logout"><i class="fa fa-sign-out fa-fw"></i> <%= t(:logout).titleize.html_safe %></a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
    <% end %>



    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav vcenter" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group input-group-sm" id="nav-search">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="action_button" value="#"><%= t('action').capitalize.html_safe %> <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li>&nbsp;</li>
                <li><a href="#" onclick="change_search('Bands');"><%= t(:band).capitalize.pluralize.html_safe %></a></li>
                <li><a href="#" onclick="change_search('Concerts');"><%= t(:concert).capitalize.pluralize.html_safe %></a></li>
                <li><a href="#" onclick="change_search('Venues');"><%= t(:venue).capitalize.pluralize.html_safe %></a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control suggest" id="suggest" placeholder="">
          </div><!-- /input-group -->
          <!-- /input-group -->
        </li>
        <li class="panel-default">
          <%= link_to "<i class='fa fa-home fa-fw'></i> #{t(:home).capitalize}".html_safe, index_index_path, :class => "reverse" %>
        </li>
        <li class="panel-yellow">
          <%= link_to "<i class='fa fa-microphone fa-fw'></i> #{t(:band).capitalize.pluralize}".html_safe, bands_path, :class => "reverse" %>
        </li>
        <li class="panel-primary">
          <%= link_to "<i class='fa fa-calendar fa-fw'></i> #{t(:concert).capitalize.pluralize}".html_safe, concerts_path, :class => "reverse" %>
        </li>
        <li class="panel-green">
          <%= link_to "<i class='fa fa-ticket fa-fw'></i> #{t(:venue).capitalize.pluralize}".html_safe, venues_path, :class => "reverse" %>
        </li>
        <li class="panel-default">
          <%= link_to "<i class='fa fa-cogs fa-fw'></i> #{t(:about).capitalize}".html_safe, about_index_path, :class => "reverse" %>
        </li>
        <li class="panel-success">
          <%= link_to "<i class='fa fa-book fa-fw'></i> #{t(:bibliography).capitalize.pluralize}".html_safe, bibliography_index_path, :class => "reverse" %>
        </li>
        <li>&nbsp;</li>
        <li>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ruby nav -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-0188156492753736"
               data-ad-slot="5782590521"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </li>

      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- ruby nav -->
  <!-- /.navbar-static-side -->
</nav>


