<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= t('the_concert_database').titleize.html_safe %></title>

  <!-- Custom Fonts -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-0188156492753736",
          enable_page_level_ads: true
      });
  </script>
</head>

<body>

<div id="wrapper">

  <%= render :partial => '/testui/top_nav' %>

  <%= yield %>

</div>
<!-- /#wrapper -->

<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'metisMenu.min' %>
<%= javascript_include_tag 'jquery.dataTables.min' %>
<%= javascript_include_tag 'dataTables.bootstrap.min' %>
<%= javascript_include_tag 'dataTables.responsive' %>
<%= javascript_include_tag 'jquery-ui-1.10.4.custom' %>
<%= javascript_include_tag 'sb-admin-2' %>

<script>
    $(function() {

        $(".suggest").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/suggest",
                    dataType: "json",
                    data: {
                        term: request.term,
                        search_action: $("#action_button").val(),
                        addl_action: $(this.element).prop("id")
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 4,
            select: function(event, ui) {
                var url = ui.item.id;
                var addl_action = $(this).prop("id");
                //alert(addl_action);
                if(addl_action == 'suggest'){
                    // alert(url);
                    if(url != '#') {
                        var action = $( "#action_button" ).attr( "value").toLowerCase();
                        // var locale = get_query_string_params('locale');
                        var locale = window.location.pathname.substring(0, 3);
                        if(locale = '/'){
                            locale = '/en'
                        }
                        // alert(locale);
                        var build_url = locale + '/' + action + '/' + url;
                        // alert(build_url);
                        location.href = build_url;
                    }
                }
                else{
                    //alert(url);
                    if (addl_action == 'venue'){
                        $("#city_name").val(ui.item.city_name);
                        $("#state_name").val(ui.item.state_name);
                        $("#country").val(ui.item.country_name);
                        $("#venue_id").val(ui.item.id);
                    }
                    else{
                        $( "#"+addl_action+"_id" ).val(url);
                    }
                }
            },
            html: true, // optional (jquery.ui.autocomplete.html.js required)
            // optional (if other layers overlap autocomplete list)
            open: function(event, ui) {
                $(".ui-autocomplete").css("z-index", 1000);
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
        };
        $(document).ready(function() {
            if (window.location.pathname.slice(3) == "/concerts") {
                change_search('<%= t('concert').titleize.pluralize %>');
            }
            if (window.location.pathname.slice(3) == "/venues") {
                change_search('<%= t('venue').titleize.pluralize %>');
            }
            if (window.location.pathname.slice(3) == "/bands") {
                change_search('<%= t('band').titleize.pluralize %>');
            }
            $('.dataTables').DataTable({
                responsive: true,
                language: {
                    url: '/assets/localisation/<%= I18n.locale %>.json'
                }
            });
            $( function() {
                $( ".datepicker" ).datepicker();
            } );
            $( ".view_details" ).click(function() {
                var action = $(this).attr( "id")
                switch(action){
                    case 'band':
                        var link = '.band_details';
                        break;
                    case 'concert':
                        var link = '.concert_details';
                        break;
                    case 'venue':
                        var link = '.venue_details';
                        break;
                    case 'there':
                        var link = '.there_details';
                        break;
                    default:
                        break;
                }
                $( link ).toggle( "slow", function() {
                    // Animation complete.
                });
            });
        });
    });

    function delete_tour_album(tour_id, album_id){
      window.location.href = "/<%= I18n.locale %>/tours/delete_tour_album/"+tour_id+"?album_id="+album_id;
    }

    function delete_tour_member(tour_id, member_id){
      window.location.href = "/<%= I18n.locale %>/tours/delete_tour_member/"+tour_id+"?member_id="+member_id;

    }
</script>
</body>
</html>
