<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Concert Database</title>

  <!-- Custom Fonts -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body>

<div id="wrapper">

  <%= render :partial => '/testui/top_nav' %>


  <%= yield %>

</div>
<!-- /#wrapper -->

<!-- jQuery -->

<%= javascript_include_tag 'jquery.min' %>
<!-- Bootstrap Core JavaScript -->
<%= javascript_include_tag 'bootstrap.min' %>

<!-- Metis Menu Plugin JavaScript -->
<%= javascript_include_tag 'metisMenu.min' %>

<!-- DataTables JavaScript -->
<%= javascript_include_tag 'jquery.dataTables.min' %>
<%= javascript_include_tag 'dataTables.bootstrap.min' %>
<%= javascript_include_tag 'dataTables.responsive' %>
<%= javascript_include_tag 'jquery-ui-1.10.4.custom' %>

<!-- Custom Theme JavaScript -->
<%= javascript_include_tag 'sb-admin-2' %>
<script>
    $(".roio-details").click(function(){
        var bootleg_id = $(this).attr("id")
        $.get("roio_details/"+bootleg_id, function(data, status){
            // roio-details-container
            $("#roio-details-container").html(data);
            // alert("Data: " + data + "\nStatus: " + status);
        });
    });
    function change_search(category){
        $( "#action_button" ).html(category+" <span class=\"caret\"></span>");
        if(category == "Concerts"){
            $("#suggest").attr("placeholder", "yyyy-mm-dd");
        }
        else{
            $("#suggest").attr("placeholder", "");
        }
        $( "#action_button" ).val(category);
    }

    $(function() {

        $(".suggest-user").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/suggest",
                    dataType: "json",
                    data: {
                        term: request.term,
                        search_action: $("#action_button").val(),
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 4,
            select: function(event, ui) {
                var url = ui.item.id;
                if(url != '#') {
                    var action = $( "#action_button" ).attr( "value").toLowerCase();
                    // alert(action)
                    location.href = '/'+action+'/' + url;
                }
            },

            html: true, // optional (jquery.ui.autocomplete.html.js required)

            // optional (if other layers overlap autocomplete list)
            open: function(event, ui) {
                $(".ui-autocomplete").css("z-index", 1000);
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
        };;

    });
</script>


</body>

</html>