%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            %h3= "&nbsp;Details about #{@data_result.member_fname}&nbsp;#{@data_result.member_lname}".html_safe
            - if @is_moderator == 'y'
              = link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_band_path(@data_result.band_id), :class => "admin_edit reverse"
      %div.panel-footer
        %p= "Bands that #{@data_result.member_fname}&nbsp;#{@data_result.member_lname} has played with".html_safe
        %ul
          - Band.select('band.band_id, band.band_name').joins('join band_members on band.band_id = band_members.band_id').where('band_members.member_id = ?', @data_result.member_id).group('band_members.band_id').each do |v|
            %li= link_to v.band_name, band_path(v.band_id)

        %div.clearfix